h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
}
.subtitulo{
    font: 20px tahoma;
    text-align: center;
}
body{
    margin: 40px;
    
}

.topico{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
}

#survey-form{
    border: 3px solid #d9e0e8;
    background-color: rgba(2, 31, 46, 95%) ;
    margin-left:250px;
    margin-right:250px;
    color: rgb(255, 255, 255);
    padding: 40px;
    border-radius: 8px;
    margin-top: 30px;
    border-color: rgb(1, 13, 21);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Fundo do site*/
.fundo{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(imagem/fundo.jpg);
    
}
/*Cor do Texto*/
.branco{
    color: rgb(255, 255, 255);
    text-align: center;
}
label{
    display: block;
}

.tamanho{
    margin-bottom: 30px;
    /* Largura e altura personalizadas */
    width: 640px;
    height: 22px;
  
    /* Cor do texto */
    color: #220101;
  
    /* Borda arredondada */
    border-radius: 5px;
  
    /* Espaçamento interno (espaço entre o conteúdo e a borda) */
    padding: 10px 20px;
  
    /* Remova a decoração do link (sublinhado e estilo de cursor) */
    text-decoration: none;
    cursor: pointer;
  
    /* Alinhe o texto no centro vertical e horizontalmente */
    text-align: left;
    /*Texto de dentro do input*/
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
  
/* Estilize o elemento select */
select {
    width: 685px; /* Largura personalizada */
    height: 45px;
    padding: 10px; /* Espaçamento interno */
    border: 1px solid #ccc; /* Borda */
    background-color: #fff; /* Cor de fundo */
    color: #333; /* Cor do texto */
    border-radius: 5px; /* Borda arredondada */
}

.espaco{
    margin-top: 30px;
}

/* Estilizando um botão */
.button {
    background-color: #3498db;
    color: #fff;
    border: 2px solid #2980b9;
    padding: 15px 30px;
    font-size: 16px;
    width: 100%;
    cursor: pointer; /* Adiciona uma mãozinha ao passar o mouse */
    position: relative;
}

/* Estilizando o botão quando o mouse passa por cima */
.button:hover {
    background-color: #0649b5;
    
}


/* Selecione a <textarea> */

.input-textarea {
    min-height: 120px;
    width: 100%;
    padding: 0.625rem;
    resize: vertical;
    width: 665px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}
.container {
    text-align: center; /* Centraliza o conteúdo horizontalmente */
    display: flex;
    flex-direction: column; /* Alinha verticalmente o conteúdo */
    align-items: center; /* Centraliza verticalmente o conteúdo */
    justify-content: center; /* Centraliza verticalmente o conteúdo */
    margin-top: 20px;
  } 
  
fieldset{
    font-size: 20px;;
}

input[type="checkbox"]{
    transform: scale(1.8);
    margin-bottom: 20px;
    
}

.margembutton{
    margin-top: 20px;
    margin-bottom: 30px;
}