h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
}
p{
    font: 20px verdana;
    text-align: center;
}
body{
    margin: 40px;
    
}

.verdana{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

#survey-form{
    border: 3px solid #d9e0e8;
    background-color: rgba(2, 31, 46, 95%) ;
    margin-left:250px;
    margin-right:250px;
    color: rgb(255, 230, 230);
    padding: 40px;
    border-radius: 8px;
    margin-top: 30px;
    border-color: rgb(1, 13, 21);
}

/*Fundo do site*/
.fundo{
    background-size: cover;
    background-position: inherit;
    background-repeat: no-repeat;
    background-image: url(imagem/fundo.jpg);
}
/*Cor do Texto*/
.branco{
    color: white;
    text-align: center;
}
/*Alinhamento*/
.align{
    margin-bottom: 10px;
}
.caixa{
    display: block;
}
label{
    display: block;
}

.tamanho{
    width: 150px;
    /* Largura e altura personalizadas */
    width: 500px;
    height: 10px;
  
    /* Cor do texto */
    color: #fff;
  
    /* Borda arredondada */
    border-radius: 5px;
  
    /* Espaçamento interno (espaço entre o conteúdo e a borda) */
    padding: 10px 20px;
  
    /* Remova a decoração do link (sublinhado e estilo de cursor) */
    text-decoration: none;
    cursor: pointer;
  
    /* Alinhe o texto no centro vertical e horizontalmente */
    text-align: left;
}
  

